.modal-title {
  color: #084e9a !important;
}

.modal-body label {
  font-weight: bold;
}

.modal-positive-btn {
  background-color: tomato !important;
  border: none !important;
}

.modal-positive-btn:hover {
  background-color: rgb(214, 64, 37) !important;
}

.modal-negative-btn {
  background-color: white !important;
  border: 1px solid tomato !important;
  color: tomato !important;
}

.modal-negative-btn:hover {
  background-color: rgb(214, 64, 37) !important;
  color: white;
  border: 1px solid tomato !important;
}

.modal-negative-btn:active,
.modal-positive-btn:active,
.modal-positive-btn:focus {
  box-shadow: none !important;
}
